<%= form_with(model: company, local: true) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :role_id %>
    <%= f.collection_select :role_id, Role.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.label :user_ids %>
    <%= f.select :user_ids,
                   @available_users.map { |c|[c.name, c.id] },
                   {prompt: false},
                   :multiple => true
   %>
  </div>

  <div class="form-group">
    <%= f.label :location_list %><br />
    <%= f.text_field :location_list%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
